body {
    background-color: #00c787;
    display: flex;
    justify-content: center;  
  }
  .panel {
    background-color: white;
    width:300px;
    padding: 30px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);

  }
  .inputContainer {
    display: flex;
    border-radius: 25px;
    overflow: hidden;
  }

  .input {
    flex-grow:1;
    border: none;
    background-color: #F0F4F8;
    padding: 10px 15px;
    outline:none;

  }
  .add {
    background-color: #00C78C;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor:pointer;
  }

  .taskList {
    list-style-type: none;
    padding: 0;
  }

  .taskList li {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #eee; 

  
  }
  .taskList label {
    flex-grow:1;
  }

  .checkbox {
    margin-right: 15px;
  }

  .deleteButton {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.5;
  }

  .deleteButton:hover {
    opacity: 1;
  }